params {
    reference_resources {
        'GRCh37' {
            coord_file                  = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/genes_and_regions/ensembl_genes_coordinates_96_grch37_2019-04-12.tsv'
            fasta_file                  = 's3://gel-lifebit-featured-datasets/containers/vep/vep_cache_GRCh37/homo_sapiens/100_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz'
            // vep_config_file             = "${baseDir}/resources/vep_config_file.txt"
            vep_config_file             = "resources/vep_config_file.txt"
            vep_cache_version           = '105'
            vep_cache                   = 's3://gel-lifebit-featured-datasets/containers/vep/vep_cache_GRCh37_v105'
            vep_cache_synonyms          = 's3://gel-lifebit-featured-datasets/containers/vep/vep_cache_GRCh37_v105/homo_sapiens/105_GRCh37/chr_synonyms.txt'
            clinvar_file                = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/clinvar/20200604/clinvar/vcf_GRCh37/clinvar_20200602.vcf.gz'
            clinvar_index               = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/clinvar/20200604/clinvar/vcf_GRCh37/clinvar_20200602.vcf.gz.tbi'
            loftee_human_ancestor_fa    = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-37/human_ancestor.fa.gz'
            loftee_gerp_file            = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-37/GERP_scores.final.sorted.txt.gz'
            loftee_conservation_file    = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-37/phylocsf_gerp.sql'
        }
        'GRCh38' {
            coord_file                  = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/genes_and_regions/ensembl_genes_coordinates_96_grch38_2019-04-12.tsv'
            fasta_file                  = 's3://512426816668-genomes/GRCh38_full_analysis_set_plus_decoy_hla.fa'
            // vep_config_file             = "${baseDir}/resources/vep_config_file.txt"
            vep_config_file             = "resources/vep_config_file.txt"
            vep_cache_version           = '105'
            vep_cache                   = 's3://gel-lifebit-featured-datasets/containers/vep/vep_cache_GRCh38_v105'
            vep_cache_synonyms          = 's3://gel-lifebit-featured-datasets/containers/vep/vep_cache_GRCh38_v105/homo_sapiens/105_GRCh38/chr_synonyms.txt'
            clinvar_file                = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/clinvar/20200604/clinvar/vcf_GRCh38/clinvar_20200602.vcf.gz'
            clinvar_index                = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/clinvar/20200604/clinvar/vcf_GRCh38/clinvar_20200602.vcf.gz.tbi'
            loftee_human_ancestor_fa    = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-38/human_ancestor.fa.gz'
            loftee_gerp_bigwig          = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-38/gerp_conservation_scores.homo_sapiens.GRCh38.bw'
            loftee_conservation_file    = 's3://512426816668-gel-data-resources/brs-resources/public_data_resources/vep_resources/LOFTEE/Build-38/loftee.sql'
        }
    }

}
